<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
</head>
<body>
    <div style="margin: 1rem; display: flex; justify-content: center; align-items: center; flex-direction: column">
        <h1>Welcome in Project 2 - Theme 5</h1>
        <h2>Choose what you want to do</h2>
        <div>
            <a class="btn btn-primary" th:href="@{/apps}" role="button" style="max-width: 150px">Apps list</a>
            <a class="btn btn-secondary" th:if="${isAdmin}" th:href="@{/users}" role="button" style="max-width: 150px">Users list</a>
            <a class="btn btn-info" th:href="@{/statistics/1}" role="button" style="max-width: 150px">Statistics</a>
        </div>
        <div style="margin-top: 1rem" th:if="${isGuest}">
            <a class="btn btn-primary" th:href="@{/login}" role="button" style="max-width: 150px">Login</a>
            <a class="btn btn-secondary" th:href="@{/register}" role="button" style="max-width: 150px">Register</a>
        </div>
        <div style="margin-top: 1rem; display: flex; justify-content: center; align-items: center" th:if="${isUser}">
            <a class="btn btn-primary" th:href="@{'/users/' + ${user.getId()} + '/edit'}" role="button" style="max-width: 150px">Edit account</a>
            <form th:method="delete" th:action="@{'/users/delete/' + ${user.getId()}}">
                <button type="submit" class="btn btn-outline-danger"> Delete user</button>
            </form>
            <a class="btn btn-primary" th:href="@{/logout}" role="button" style="max-width: 150px">Logout</a>
        </div>

        <div th:if="${user}" style="margin: 1rem; display: flex; justify-content: center; align-items: center; flex-direction: column">
            <div class="card" style="width: 36rem; margin-bottom: 2rem; padding: 1rem">
                <div style="display: flex;">
                    <h1 style="margin-right: 1rem; margin-left: 1rem">First name: </h1>
                    <h1 th:text="${user.getFirstName()}"> </h1>
                </div>
                <div style="display: flex">
                    <h2 style="margin-right: 1rem; margin-left: 1rem">Last name: </h2>
                    <h2 th:text="${user.getLastName()}"></h2>
                </div>
                <div style="display: flex">
                    <h3 style="margin-right: 1rem; margin-left: 1rem">Email: </h3>
                    <h3 th:text="${user.getEmail()}"></h3>
                </div>
                <div style="display: flex">
                    <h3 style="margin-right: 1rem; margin-left: 1rem">Country: </h3>
                    <h3 th:text="${user.getCountry()}"></h3>
                </div>
                <div style="display: flex">
                    <h3 style="margin-right: 1rem; margin-left: 1rem">Username: </h3>
                    <h3 th:text="${user.getUsername()}"></h3>
                </div>
                <div style="display: flex">
                    <h3 style="margin-right: 1rem; margin-left: 1rem">Password: </h3>
                    <h3 th:text="${user.getUserPassword()}"></h3>
                </div>
                <div style="display: flex">
                    <h3 style="margin-right: 1rem; margin-left: 1rem">Id: </h3>
                    <h3 th:text="${user.getId()}"></h3>
                </div>
            </div>

            <div th:if="${apps.size() > 0}">
                <h3>User apps:</h3>
                <table class="table">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Domain</th>
                        <th></th>
                    </tr>
                    <tr th:each="app : ${apps}">
                        <th th:text="${app.getId()}" scope="row"></th>
                        <td th:text="${app.getName()}"></td>
                        <td th:text="${app.getDomain()}"></td>
                        <td>
                            <a th:href="@{'/apps/' + ${app.getId()}}" class="link-primary">Go to</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
