<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Apps</title>
</head>
<body>

<form method="GET" th:action="@{/apps/search}" th:object="${search}">
    <div class="form-group" style="margin-left: 1rem; margin-top: 2rem">
        <label for="username">Search by username of user or get all:</label>
        <select class="form-select" id="username" th:field="*{searchBy}">
            <option th:each="user : ${users}" th:value="${user[0]}" th:text="${user[1]}">
            </option>
        </select>
    </div>
    <input class="btn btn-warning" type="submit" value="Search" style="margin-left: 1rem; margin-bottom: 1rem"/>
</form>

<h2 style="margin: 1rem">Apps:</h2>

<div th:if="${error}" class="alert alert-danger" style="margin: 1rem">
    <h2 th:text="${error}"></h2>
</div>


<div style="margin: 1rem">
    <div style="display: flex">
        <a class="btn btn-primary" th:if="${logged}" th:href="@{/apps/create}" role="button" style="margin-bottom: 1rem">Create app</a>
        <a class="btn btn-secondary" th:href="@{/}" role="button" style="margin-bottom: 1rem; margin-left: 1rem">Home page</a>
        <form th:if="${isAdmin}" method="POST" th:action="@{/export/apps}">
            <input class="btn btn-dark" type="submit" value="Export" style="margin-left: 1rem; margin-bottom: 1rem"/>
        </form>
    </div>
    <table class="table">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Domain</th>
            <th scope="col">Number of users</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="app : ${apps}">
            <th th:text="${app.getId()}" scope="row"></th>
            <td th:text="${app.getName()}"></td>
            <td th:text="${app.getDomain()}"></td>
            <td th:text="${app.getUserList().size()}"></td>
            <td>
                <a th:href="@{'/apps/' + ${app.getId()}}" class="btn btn-primary">Go to</a>
            </td>
            <td>
                <form th:if="${isAdmin}"  th:method="delete" th:action="@{'/apps/delete/' + ${app.getId()}}">
                    <button type="submit" class="btn btn-outline-danger"> Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
